* {
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px 20px;
}

a{
  text-decoration: none;
}

hr {
  display: none;
}

br {
  display: none;
}

.container {
  float: left;
  padding: 10px;
  width: 33.33%;
}

@media screen and (max-width : 768px) {
 
  * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container.columna-left {
    float: left;
    width: 30%;
  }
  

  .columna-middle {
    float: right;
    width: 60%;
  }

  .container.columna-left ul {
    list-style: none;
  }

  .container.columna-left br {
    display: block;
  }

  .container.columna-left ul li {
    padding: 10px 0;
  }


  .container.columna-left ul li strong {
    padding: 0 0 0 px;
  }
  
  
}


@media screen and (max-width: 420px) {
 
  

  hr {
    display: block;
    top: 0px;
  }

  br {
    display: block;
  }


  h2{
    margin-bottom: 0px;
  }

  ul {
    list-style: none;
  }

  .container {
    float: left;
    width: 100%;
    font-size: 20px;
  }

  .container.columna-left {
    width: 100%;

  }
}



